.app-container {
    background-color: #F6F7FB;
}

.header {
    position: fixed;
    height: 200px;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #354052;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 -2px 10px 1px #CCC;
    text-transform: uppercase;
    z-index: 999;
}

.header img {
    height: 100px;
}

.header a {
    color: #354052;
    font-weight: 600;
    margin-right: 5%;
}

.header a:nth-child(2) {
    margin-left: auto;
}


.header a:hover {
    color: #888;
}
