.homepage-container {
  margin-top: 200px;
  padding: 50px;
}

.section-container {
  width: 100%;
  min-height: 583px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 20px -5px #888;
  margin: 30px 0;
}

.first-section {
  flex-flow: row nowrap;
  align-items: stretch;
  margin-top: 0;
}

.first-section .left {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  font-size: 36px;
  color: #FFF;
  flex-basis: 40%;
  line-height: 60px;
  background-color: #FF615D;
  justify-content: center;
  align-items: center;
  text-align:left;
  padding: 80px;
}

.first-section .right {
  background-image: url("/assets/hipster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  flex-basis: 60%;
}

.first-section button {
  font-size: 16px;
  font-weight: bold;
  color: #FF615D;
  background-color: white;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid #FF615D;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 50px;
}

.first-section button:hover {
  background: #FF615D;
  color: white;
  border: 1px solid white;
  transition: all 0.4s ease 0s;
}

.second-section {
  flex-flow: column nowrap;
  color: #40464C;
  font-weight: bolder;
  font-size: 32px;
  background-color: white;
  justify-content: space-between;
  padding: 100px;
}

.second-section .concept-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.second-section .concept-detail {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  color: #354052;
  text-align: center;
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.second-section .text {
  margin-top: 40px;
}

.second-section button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #FF615D;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid white;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  align-self: center;
  margin-top: 50px;
}

.second-section button:hover {
  background: white;
  color: #FF615D;
  border: 1px solid #FF615D;
  transition: all 0.4s ease 0s;
}

.third-section {
  color: #354052;
  display: flex;
  align-items: stretch;
  box-shadow: none;
  overflow: visible;
}

.third-section > * {
  border-radius: 15px;
  width: 100%;
  padding: 50px;
  box-shadow: 0 2px 20px -5px #888;
}

.third-section .left {
  margin-right: 15px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  
}

.third-section .left .title {
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.third-section .left .info-line {
  margin: 25px 0;
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  justify-content: space-between;
}

.third-section .left .info {
  display: flex;
  flex-flow: column nowrap;
  max-width: 120px;
}

.third-section .left .info span {
  font-weight: 500;
  font-size: 60px;
  color: #FF615D;
}

.third-section button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #FF615D;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid white;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  align-self: center;
  margin-top: 50px;
}

.third-section button:hover {
  background: white;
  color: #FF615D;
  border: 1px solid #FF615D;
  transition: all 0.4s ease 0s;
}

.third-section .right {
  margin-left: 15px;
  background-color: #FF615D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
